.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid purple;
  background-color: plum;
  color: purple;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: purple;
  color: #fff;
}

.reset {
  background-color: #ffdddd;
  color: #b30000;
  border-color: #b30000;
}

.reset:hover {
  background-color: #b30000;
  color: #fff;
}
